.home{
    height: 100vh;
    color: white;
    padding: 30px;
    overflow-y: overlay;
    
}
.home__initial__state{
    position: relative;
    height: 100%;

}
.home::-webkit-scrollbar{
    display: none;
}