/* .typing__effect {
    display: inline-block;
    overflow: hidden;
    /* prevents wrapping to next line */
   
  
  
  /* @keyframes typingAnimation {
    to {
    
      opacity: 1;
    }
  } */
  .typing__effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .typing__effect span {
    color:rgb(190, 217, 240);
    display: inline-block;
    opacity: 0;
    animation: typingAnimation 1s forwards;
  }
  
  @keyframes typingAnimation {
    to {
      opacity: 1;
    }
  }
  
  
  
  
  
  